:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  height: 11vh;
  top: 0;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(97, 186, 255) 0%, rgb(166, 239, 253) 90.1%);
}
header figure {
  display: flex;
  align-items: center;
  min-width: 100px;
}
header figure img {
  width: max(3vw, 30px);
  margin-right: 3%;
}
header figure figcaption {
  font-size: max(3vw, 15px);
}

.add-book-modal {
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.add-book-modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  background-color: white;
  border-radius: 8px;
  padding: 30px;
}
.add-book-modal form div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.add-book-modal form #add-book-btn {
  border: none;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(97, 186, 255) 0%, rgb(166, 239, 253) 90.1%);
  border-radius: 8px;
  width: 125px;
  height: 40px;
  font-size: 15px;
  cursor: pointer;
}

#add-book-menu-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: max(4vw, 50px);
  height: max(4vw, 50px);
  font-size: 25px;
  border-radius: 999px;
  cursor: pointer;
  border: none;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(97, 186, 255) 0%, rgb(166, 239, 253) 90.1%);
}

.visible {
  visibility: visible;
}

#books-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  margin-top: 200px;
  margin-left: 10vw;
  margin-right: 10vw;
}
#books-section div {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  height: 250px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
#books-section div .close-i-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 5%;
  box-shadow: none;
  margin-top: 12px;
}
#books-section div .close-i-container #i-icon {
  width: 20px;
  margin-left: 12px;
  cursor: pointer;
}
#books-section div .close-i-container #close-icon {
  width: 26px;
  margin-right: 12px;
  cursor: pointer;
}
#books-section div .read-unread-btn {
  height: 45px;
  border: none;
  box-shadow: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
#books-section div .book-information {
  justify-content: flex-start;
  box-shadow: none;
  margin: 25px;
}

#info-modal {
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
#info-modal #info-card {
  display: flex;
  width: 60vh;
  height: 40vh;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.not-hidden {
  visibility: visible;
}/*# sourceMappingURL=style.css.map */