$background: linear-gradient( 135deg, #FFAA85 10%, #B3315F 100%);
:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  height: 11vh;
  top: 0;
  background-image: $background;
  figure {
    display: flex;
    align-items: center;
    min-width: 100px;

    img {
      width: max(3vw, 30px);
      margin-right: 3%;
    }

    figcaption {
      font-size: max(3vw, 15px);
    }
  }
}

.add-book-modal {
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    div {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    #add-book-btn {
      border: none;
      background-image: $background;
      border-radius: 8px;
      width: 125px;
      height: 40px;
      font-size: 15px;
      cursor: pointer;
    }

  }
}

#add-book-menu-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: max(4vw, 50px);
  height: max(4vw, 50px);
  font-size: 25px;
  border-radius: 999px;
  cursor: pointer;
  border: none;
  background-image: $background;
}

#clear-btn {
  position: fixed;
  bottom: 40px;
  left: 40px;
  width: max(4vw, 50px);
  height: max(4vw, 50px);
  font-size: 25px;
  border-radius: 999px;
  cursor: pointer;
  border: none;
  background-image: $background;
}

.visible {
  visibility: visible;
}

#books-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  margin-top: 200px;
  margin-left: 10vw;
  margin-right: 10vw;
  
  p{
    border-bottom: solid #e0d5d8 1px;
    margin-right: 1px;
  }

  div {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    height: 250px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    min-width: 250px;
   
    .close-i-container {
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      height: 5%;
      box-shadow: none;
      margin-top: 12px;

      #i-icon {
        width: 20px;
        margin-left: 12px;
        cursor: pointer;
      }
      #close-icon {
        width: 26px;
        margin-right: 12px;
        cursor: pointer;
      }
    }

    .read-unread-btn {
      height: 100%;
      border: none;
      box-shadow: none;
      color: white;
      font-weight: bold;
      font-size: 14px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      cursor: pointer;
    }

    .book-information {
      justify-content: flex-start;
      box-shadow: none;
      margin: 25px;
    }
  }
}

.info-modal {
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);

  #info-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30vh;
    height: 40vh;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

    .info-close-container {
      margin: 8px;
      width: 30px;
      height: 30px;
      img {
        width: 100%;
        cursor: pointer;
      }
    }

    .info-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
      p {
        font-size: 17px;
      }

      .info-cover-container {
        img {
          width: 100px;
        }
      }
      .book-details-container {
        margin-top: 10px;
        text-align: center;
      }
    }
  }
}
.not-hidden {
  visibility: visible;
}


@media screen and (max-width: 1500px) {
  #books-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  #books-section {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  #books-section {
    grid-template-columns: 1fr;
  }
}
